/* General styling */
body, html {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 40px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
}

.content {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.project-item {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-item img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 20px;
}

.project-details h2 {
    margin: 0 0 10px;
    font-size: 1.75em;
}

.project-details p {
    margin: 0;
    font-size: 1.1em;
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    header p{
        padding: 0px 50px;
    }
    .project-details h2 {
        font-size: 1.25em;
    }

    .project-details p {
        font-size: 0.9em;
    }
    #fp-nav {
        display: none !important;
    }
    .project-item img {
        width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 5px;
        object-fit: cover;
        margin-bottom: 20px;
        outline: 1px solid rgb(150, 140, 140);
    }
}
